## Libraries

In [1]:
import json
import numpy as np
import random
import pandas as pd
import mysql.connector

## MySQL Database Connection

In [2]:
json_file_path = r'C:\Users\Catello\Desktop\Protfolio\Project_2\database_config_mysql.json'

with open(json_file_path, 'r') as json_file:
    database_config = json.load(json_file)

mydb = mysql.connector.connect(**database_config)
mycursor = mydb.cursor()

## Database Creation

In [3]:
mycursor.execute("CREATE DATABASE IF NOT EXISTS project_2")

mycursor.execute("USE project_2")

create_table_query = """
CREATE TABLE IF NOT EXISTS financial_transactions (
    transaction_id INT PRIMARY KEY,
    merchant_number INT,
    transaction_amount INT,
    transaction_category VARCHAR(50)
);
"""
mycursor.execute(create_table_query)

In [4]:
# Generate financial transactions

# Unique transaction IDs
trans_ids = [i for i in range(1, 50001)]

# Vendor/customer numbers
merchant_numbers = np.random.randint(low=1, high=2500, size=(50000,))

# Transaction amount
trans_amounts = np.random.randint(low=20, high=1250000, size=(50000))

# Transaction types
trans_types = ['ATM_withdrawal', 'bank_deposit', 'domestic_money_transfer', 'international_money_transfer']

# Generate a list of random integers
rand_integers = [random.randint(0, 3) for i in range(0, 50000)]
trans_list = [trans_types[i] for i in rand_integers]

transaction_data = {
    "transaction_id": trans_ids,
    "merchant_number": list(merchant_numbers),
    "transaction_amount": list(trans_amounts),
    "transaction_category": trans_list,
}

transaction_dataframe = pd.DataFrame(transaction_data)

print(transaction_dataframe.head())

   transaction_id  merchant_number  transaction_amount  \
0               1              369              625510
1               2             1870              681505
2               3             1789              897404
3               4              972             1141892
4               5             2379              749053

           transaction_category
0                  bank_deposit
1  international_money_transfer
2       domestic_money_transfer
3                  bank_deposit
4  international_money_transfer

In [10]:
insert_statement = "INSERT INTO financial_transactions (transaction_id, merchant_number, transaction_amount, transaction_category) VALUES (%s, %s, %s, %s)"
transaction_data_list = transaction_dataframe.values.tolist()

for transaction in transaction_data_list:
    mycursor.execute(insert_statement, transaction)

mydb.commit()